---
export interface Props {
  href: string;
  src: string;
  alt: string;
}

const { href, src, alt } = Astro.props;
---
<a href={href}>
  <img
    src={src}
    alt={alt}
    class="w-10 h-10"
  />
</a>